@import 'slick/slick.css';

.breadcrumbs {
	display:none;
}
.type_content_l {
	display:none;
}
.type_content_r {
    	padding:0px !important;
}
#layout2,#layout6 {
    	width: 100%;
    	position: relative;
    	overflow: hidden;
    	min-width: 768px;
    	background-color: #fff;
}
#layout .type_page_content {
	display:none;
}

.siding-page-header {
	height:529px;
}

.siding-header-left,
.siding-header-right {
	width:50%;
	height:100%;
	display:inline-block;
	overflow:hidden;
}

.siding-header-left {
	float:left;
	padding-right:47px;
	background-color:#fafafa;

}
.siding-header-right {
	float:right;
	background-color:#fafafa;
	padding-top:0px;
	border-bottom:1px solid #f2f2f2;
}

.siding-header-right .table {
	width:100%;
	display:table;
}
.siding-header-right .table-row {
	display:table-row;
}

.siding-header-right .table-cell {
	width:100%;
	vertical-align:middle;
	height:529px;
	display:table-cell;
}


.siding-header-slider {
	display:block;
	width:100%;
	height:100%;
	position:relative;
}

.siding-header-slider .slide {
	height:529px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}

.siding-header-slider ul.slick-dots {
	position:absolute;
	width:100%;
	bottom:0px;
	left:0px;
	margin-bottom:30px;
	text-align:center;
}

.siding-header-slider ul.slick-dots > li {
	display:inline-block;
	padding:0px 5px;
}

.siding-header-slider ul.slick-dots > li button {
	background:#fff;
	width:10px;
	height:10px;
	border-radius:100%;
	border:0;
	font-size:0;
	outline:none;
}
.siding-header-slider ul.slick-dots > li.slick-active button {
	background:#ede9de;
}

.siding-page-header h1 {
	font-size: 38px;
    	line-height: 43px;
    	line-height: 54px;
	font-weight:600;
	color:#333333;
	text-transform:uppercase;
	margin:0px 0px 30px 0px;
}

.siding-header-links  {
	color:#444;
	font-size: 17.63px;
	font-size: 14px;
    	line-height: 15px;
}

.siding-header-links a {
	color:#0071bb;
	font-size: 17.63px;
	text-decoration:none;
    	border-bottom: 1px solid #0071bb;

    	-webkit-transition: border-color .4s ease 0s;
    	transition: border-color .4s ease 0s;
}

.siding-header-links a:hover {
	border-color: transparent;
	
}

.siding-header-links .siding-header-links-item {
	margin-bottom:18px;
}

.s-clear {
	display:table;
	clear:both;
	width:100%;
}

.siding-utp-block {
	font-size: 14px;
    	line-height: 18px;
    	color: #444;
    	padding-bottom: 30px;
}

.siding-utp-list {
	display:block;
	margin:0px;
	padding:0px;
	/*display: flex; 
    	flex-direction: row;
	*/
	display:table;
	width:100%;
}

.siding-utp-list .siding-utp-item {
	line-height: normal;
    	padding-right: 55px;
    	color: #444;
    	text-decoration: none;
    	/*flex-basis: 100%;*/
	width:25%;
	float:left;
}


.siding-utp-item-image {
    	float: left;
    	width: 70px;
    	height: 48px;
    	background-position: center center;
    	background-size: contain;
    	background-repeat: no-repeat;
    	margin-left: -11px;
}

.siding-utp-item-text {
	clear: both;
    	font-size: 11.75px;
    	padding-top: 11px;
    	line-height: 15px;
    	display: block;	
}

.siding-utp-item-header {
 	margin-left: 14px;
    	font-weight: bold;
    	font-size: 17.63px;
    	display: inline-block;
    	height: 50px;

}

.siding-utp-list .siding-utp-item:nth-child(1) .siding-utp-item-image {
	background-image: url(/upload/iblock/d11/24_blue.png);
}
.siding-utp-list .siding-utp-item:nth-child(2) .siding-utp-item-image {
	background-image: url(/upload/iblock/f15/pay_blue.png);
}
.siding-utp-list .siding-utp-item:nth-child(3) .siding-utp-item-image {
	background-image: url(/upload/iblock/1ea/delivery_blue.png);
}
.siding-utp-list .siding-utp-item:nth-child(4) .siding-utp-item-image{
	background-image: url(/upload/iblock/5f4/phone_blue.png);
}

.siding-item-block {
	position:relative;
	padding:60px 0px 0px 0px;
	overflow-x: visible !important;
	margin-bottom:70px;
}

.post_block h2.siding-h2-title {
    	font-size: 44px;
    	line-height: 44px;
    	font-weight: normal;
    	color: #0071bb;
	padding-top:0px;
	display:inline-block;
}

.alta-board h2.siding-h2-title::after {
	content:'';
	width:157px;
	height:61px;
	display:inline-block;
	background:url(/siding/images/AltaBoard_logo.png) center center no-repeat;
	float:left;
}
.alta-board h2.siding-h2-title span {
	float:left;
    	margin: 8px 30px 0px 0px;
}

.alaska h2.siding-h2-title::after {
	content:'';
	width:79px;
	height:79px;
	display:inline-block;
	background:url(/siding/images/Alaska_logo.png) center center no-repeat;
	float:left;
}

.alaska h2.siding-h2-title span {
	float:left;
    	margin: 18px 25px 0px 0px;
}

.canada h2.siding-h2-title::after {
	content:'';
	width:162px;
	height:56px;
	display:inline-block;
	background:url(/siding/images/canada_logo.png) center center no-repeat;
	float:left;
}

.canada h2.siding-h2-title span {
	float:left;
    	margin: 12px 25px 0px 0px;
}


.blockhouse h2.siding-h2-title::after {
	content:'';
	width:85px;
	height:78px;
	display:inline-block;
	background:url(/siding/images/BlockHouse_logo.png) center center no-repeat;
	float:left;
}

.blockhouse h2.siding-h2-title span {
	float:left;
    	margin: 17px 25px 0px 0px;
}



.siding-item-block .siding-title {
	float:left;
	width:100%;
    	padding: 0 40px 0 0;
}

.siding-item-block .siding-right {
	float:left;
	width:50%;
	margin-right: -50%;
    	padding: 0 0 0 0px;
	position:relative;
	background-size:cover;
	min-height:450px;
}

.siding-item-block.siding-alta .siding-right {
	background:url(/siding/images/alta_siding.jpg) center center no-repeat;
	height:467px;
}
.siding-item-block.alta-board .siding-right {
	background:url(/siding/images/alta_board.jpg) center center no-repeat;
	height:524px;

}
.siding-item-block.alaska .siding-right {
	background:url(/siding/images/alaska.jpg) center center no-repeat;
	height:530px;
}

.siding-item-block.canada .siding-right {
	background:url(/siding/images/canada.jpg) center center no-repeat;
	height:550px;

}

.siding-item-block.blockhouse .siding-right {
	background:url(/siding/images/blockhouse.jpg) center center no-repeat;
	height:500px;
}

.siding-item-block.panel .siding-right {
	background:url(/siding/images/fasad_panel.jpg) center center no-repeat;
	height:490px;
}


.siding-item-block .siding-right .siding-element {
	position:absolute;
	width:auto;
	height:auto;
	left:0px;
	bottom:0px;
	z-index:20;
	margin: 0px 0px -46px -48px;
}


.siding-item-block .siding-left {
	float:left;
	width:70%;
	padding-right:100px;

	min-width:880px;
}

.siding-item-block .siding-inner-left {
	width:50%;
	float:left;
	padding:0px 0px 0px 0px;

	max-width:430px;
}
.siding-item-block .siding-inner-right {
	width:50%;
	float:left;
	padding:0px 0px 0px 90px;
}

.siding-item-block .siding-inner-left p {
	text-align:justify;
}

.siding-item-block .siding-desc {
	background-color:#fffcf1;
	font-size:18px;
	line-height:24px;
	font-weight:600;
	padding:25px 30px;
	width:360px;
	margin-bottom:60px;
}

.siding-item-block.panel .siding-desc {
	padding: 25px 20px 25px 30px;
}

.siding-item-block .siding-desc:before {
	content:'';
	display:inline-block;
	float:left;
	background-position:top center;
	background-repeat:no-repeat;
	margin-right:20px;
}

.siding-item-block.siding-alta .siding-desc:before {
	background-image:url(/siding/images/money_pig.png);	
	width:52px;
	height:65px;
}
.siding-item-block.alta-board .siding-desc:before {
	background-image:url(/siding/images/board.png);	
	width:51px;
	height:65px;
}
.siding-item-block.alaska .siding-desc:before {
	background-image:url(/siding/images/snowflake.png);	
	width:51px;
	height:65px;
}
.siding-item-block.canada .siding-desc:before {
	background-image:url(/siding/images/paint.png);	
	width:31px;
	height:65px;
}
.siding-item-block.blockhouse .siding-desc:before {
	background-image:url(/siding/images/stump.png);	
	width:42px;
	height:65px;
}
.siding-item-block.panel .siding-desc:before {
	background-image:url(/siding/images/panel.png);	
	width:51px;
	height:65px;
}



.siding-item-block .dots_list b {
    	color: #0071bb;
}

.siding-item-block .dots_list > li {
	margin-bottom:10px;
}

.siding-item-block .dots_list > li p {
	line-height:24px;
}

.siding-item-block .siding-item-filter {
	margin-top:20px;
}

.siding-item-block .siding-item-filter .siding-item-filter-header {
	font-size:20px;         	
	margin-bottom:12px;
}

.siding-item-block .radio-wrap, .siding-item-block .chbox-wrap {
    	position: relative;
    	display: inline-block;
    	/*width: 22px;
    	height: 22px;*/
    	padding: 0!important;
    	vertical-align: sub;
    	-moz-width: 15px;
    	-moz-height: 16px;
    	cursor: pointer;
    	z-index: 99;
}

.siding-item-block .radio-bg, .siding-item-block .chbox-bg {
    	display: block;
    	width: 22px;
    	height: 22px;
    	position: absolute;
 	left: 0;
 	top: 0;
    	margin: 0!important;
    	padding: 0!important;
    	cursor: pointer;
    	z-index: -1;
    	-moz-width: 15px;
    	-moz-height: 16px;
}

.siding-item-block .check_face label {
	cursor:pointer;
	padding-left:35px;
}

.siding-item-block input[type="checkbox"]:checked+.chbox-bg {
	background:url(/siding/images/checkbox_on.png) center center no-repeat;	
}

.siding-item-block input[type="checkbox"]+.chbox-bg {
	background:url(/siding/images/checkbox_off.png) center center no-repeat;	
}


.siding-item-block .siding-item-filter  {
	margin-bottom:5px;
	margin-right:25px;
	/*width:50%;*/

	float:left;
}

.siding-item-block .siding-item-filter-res {
	margin-top:12px;
	width:400px;
}

.siding-item-block .siding-item-filter-res .s-res-color {
	display:inline-block;
	width:47px;
	height:47px;
	border:1px solid #bcb8b7;
	margin-right:10px;
	margin-bottom:10px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}


.siding-item-block.panel .siding-item-filter-res .s-res-color {
	border:0;
	width:48px;
	height:48px;
}

.siding-item-block .siding-item-filter-res .s-res-color:nth-child(7n+7) {
	/*margin-right:0px;*/
}

.siding-item-block-slider {
	margin:60px 0px 30px 0px;
	height:230px;
}

.siding-item-block-slider .slide {
	height:230px;
	padding:0px 6px;
}

.siding-item-block-slider .slide .slide-img {
	display:inline-block;
	width:100%;
	height:100%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	background-size:0px 0px;	
}
.siding-item-block-slider::before {
    	position: absolute;
    	top: 0px;
    	display: block;
    	content: '';
    	height: 100%;
    	z-index: 2;
    	width: 20%;
    	pointer-events: none;

    	left: -2px;
    	background: -webkit-linear-gradient(left,#fff,rgba(255,255,255,0.9) 60%,rgba(255,255,255,0));
    	background: linear-gradient(to right,#fff,rgba(255,255,255,0.9) 60%,rgba(255,255,255,0));
}   	

.siding-item-block-slider::after {
	position: absolute;
    	top: 0px;
    	display: block;
    	content: '';
    	height: 100%;
    	z-index: 2;
    	width: 20%;
    	pointer-events: none;

	right: -2px;
    	background: -webkit-linear-gradient(right,#fff,rgba(255,255,255,0.9) 60%,rgba(255,255,255,0));
    	background: linear-gradient(to left,#fff,rgba(255,255,255,0.9) 60%,rgba(255,255,255,0));
}   	


.siding-item-block-slider .btn {
	background: #0071bb;
    	height: 40px;
    	width: 30px;
    	top: 50%;
    	margin-top: -15px;
    	-webkit-transition: background .4s ease 0s;
    	transition: background .4s ease 0s;
    	text-align: center;
	display:block;
	z-index:10;
	position:absolute;
	cursor:pointer;

}

.siding-item-block-slider .btn .icon-arrow-r,
.siding-item-block-slider .btn .icon-arrow-l {
    	color: #fff;
    	font-size: 14px;
    	line-height: 40px;
}

.siding-item-block-slider .btn.slick-prev {
	left: 1px;
    	border-radius: 5px 0 0 5px;
}
.siding-item-block-slider .btn.slick-next {
	right: 1px;
    	border-radius: 0 5px 5px 0;
}
.siding-item-block-slider .slick-disabled {
    	opacity: .35;
    	cursor: auto;
    	pointer-events: none;
}

.siding-tablet-bottom-block {
	width:100%;
	display:block;
	margin-top:60px;	
}

.siding-tablet-filter-block {
	width:53%;
	float:left;
	padding-right: 50px;
}

.siding-tablet-list-block {
	width:47%;
	float:left;
}

.siding-tablet-bottom-block .siding-item-filter {
	margin-top:0px;
}

.siding-btn-block {
	text-align:center;
	
}

.siding-btn-block .btn_red {
	padding-left:50px;
	padding-right:50px;
}

.siding-select-block {
	display:block;
	padding:10px 14px;
	width:100%;
	border:1px solid #d9d9d9;
	border-radius:6px;
	position:relative;
}

.siding-select-block .siding-select-list {
	display:none;
	position:absolute;
	background-color:#fff;
	border:1px solid #d9d9d9;
	left:0px;
	top:100%;
	width:100%;
	margin-top:2px;
}

.siding-select-block .siding-select-list .siding-select-item {
	display:block;
    	font-size: 20px;
    	line-height:1.2em;
	padding:10px 14px;
}

.siding-select-block .siding-select-list .siding-select-item:hover {
	background:#0071bb;
	color:#fff;
	cursor:pointer;
}

.siding-select-block .siding-select-current {
	width:100%;
	display:inline-block;
}

.siding-select-block .siding-select-current-txt {
    	font-size: 20px;
	display:inline-block;
	position:relative;
	padding-right:22px;
	cursor:pointer;
}

.siding-select-block .siding-select-current-txt:after {
	content:'';
	display:inline-block;
	width:12px;
	height:7px;
	background:url(/siding/images/arrow_down.png) center center no-repeat;	
	position:absolute;
	right:0px;
	top:50%;
	margin-top:-1px;
}

.siding-item-block.panel .siding-item-filter {
	float:none;
	margin-right:0px;
	padding-right:8px;
}

.siding-table-container {
    	padding: 60px 0px 0px 0px;
}

.siding-table-container .siding-table {
	margin-top:30px;
}

.siding-table {
	width:100%;
	display:table;
	border-spacing: 4px;
}
.siding-table > .siding-table-row {
	display:table-row;
}
.siding-table > .siding-table-row > .siding-table-cell {
	display:table-cell;
	padding:15px 10px;
	vertical-align:middle; 
	font-size:18px;
}
.siding-table > .siding-table-row > .siding-table-cell .s-no {
	color:#ff4444;
}
.siding-table > .siding-table-row:nth-child(odd) > .siding-table-cell {
	background:#f5fafc;
}
.siding-table > .siding-table-row:nth-child(even) > .siding-table-cell {
	background:#fff;
}

.siding-table > .siding-table-row:nth-child(1) > .siding-table-cell {
	background:#0072bb !important;
	color:#fff;
	font-size:18px;
	padding-top:15px;
	padding-bottom:15px;
}
.siding-table > .siding-table-row > .siding-table-cell:nth-child(1) {
	width:23.5%;
	padding-left:32px;
}

.siding-table > .siding-table-row > .siding-table-cell:nth-child(2),
.siding-table > .siding-table-row > .siding-table-cell:nth-child(3),
.siding-table > .siding-table-row > .siding-table-cell:nth-child(4),
.siding-table > .siding-table-row > .siding-table-cell:nth-child(5),
.siding-table > .siding-table-row > .siding-table-cell:nth-child(6),
.siding-table > .siding-table-row > .siding-table-cell:nth-child(7) {
	width:12.75%;
	text-align:center;
}

                   
.siding-choose-container {
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
.siding-choose-container .layout {
	background:#fafafa;
	-webkit-box-shadow: inset 0px 15px 25px -10px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0px 15px 25px -10px rgba(0,0,0,0.05);
	box-shadow: inset 0px 15px 25px -10px rgba(0,0,0,0.05);
}

.siding-choose-block {
	display:table;	
	width:100%;
}

.siding-choose-row {
	display:table-row;
}

.siding-choose-left {
	float:left;
	width:50%;
	padding-right:80px;
}
.siding-choose-right {
	width:50%;
	float:left;
	position:relative;
}

.siding-choose-left h2+p {
	margin-top:15px;
}

.siding-choose-left p+.btn_red {
	padding-left:50px;
	padding-right:50px;
	margin-top:50px;
}

.siding-choose-video {
	display:inline-block;
	position:relative;
}

.siding-choose-video-icon {
	/*content:'';*/
	position:absolute;
	display:block;
	width:52px;
	height:51px;
	left:50%;
	top:50%;
	margin-top:-25.5px;
	margin-left:-26px;
	background:url(/siding/images/play_img.jpg) center center no-repeat;	
}

.siding-useful {
	padding:80px 0px 30px 0px;
	
}



.siding-useful-list {
	width:100%;
	margin:0px;
	padding:0px;
	/*display: flex; 
    	flex-direction: row;*/
	display:table;   	
	margin-top:50px;
}

.siding-useful-list .siding-useful-item {
	line-height: normal;
    	padding-right: 55px;
    	color: #444;
    	text-decoration: none;
    	/*flex-basis: 100%;*/
	float:left;
	width:25%;
}

.siding-useful-list .siding-useful-item .siding-useful-container {

	display:inline-block;
	box-sizing: content-box;
	text-align:center;
}


.siding-useful-item-image {
	display:inline-block;
    	width: 90px;
    	height: 90px;
    	background-position: center center;
    	background-size: contain;
    	background-repeat: no-repeat;
}

.siding-useful-item-text {
	clear: both;
    	padding-top: 20px;
    	display: block;
	text-align:left;
	/*padding-right:20px;*/
}
.siding-useful-item-text a {
    	line-height: 1.5em;
    	font-size: 18px;
	color:#0071bb;	
	border-bottom:1px solid #0071bb;
}

.siding-useful-item-text a:hover {
	border-bottom:1px solid transparent;
}

.siding-useful-list .siding-useful-item:nth-child(1) .siding-useful-item-image {
	background-image: url(/siding/images/siding_service_icon.png);
}
.siding-useful-list .siding-useful-item:nth-child(2) .siding-useful-item-image {
	background-image: url(/siding/images/siding_service_color_icon.png);
}
.siding-useful-list .siding-useful-item:nth-child(3) .siding-useful-item-image {
	background-image: url(/siding/images/siding_service_calc_icon.png);
}
.siding-useful-list .siding-useful-item:nth-child(4) .siding-useful-item-image{
	background-image: url(/siding/images/siding_service_ballon_icon.png);
}


.siding-useful-list .siding-useful-item:nth-child(1) .siding-useful-item-text {
	width:162px;
}
.siding-useful-list .siding-useful-item:nth-child(2) .siding-useful-item-text {
	width:214px;
}
.siding-useful-list .siding-useful-item:nth-child(3) .siding-useful-item-text {
	width:208px;
}
.siding-useful-list .siding-useful-item:nth-child(4) .siding-useful-item-text{
	width:173px;
}

#layout2 .post_block,
#layout2 .type_page_content {
	padding-bottom:0px !important;
}


#layout5 .wrapper,
#layout5 .type_page_content,
#layout5 .type_content_r,
#layout5 .post_block {
	padding:0px !important;
	margin:0px !important;
}

#layout6 .wrapper,
#layout6 .type_page_content,
#layout6 .type_content_r,
#layout6 .post_block {
	padding-top:0px !important;
	margin-top:0px !important;
}
.siding-choose-mobile-video {
	display:none;
}

@media (min-width : 1024px) {
	.tablet-view {
		display:none !important;
	}
	.mobile-view {
		display:none !important;
	}
}
@media (min-width : 768px) and (max-width : 1023px) {
	.pc-view {
		display:none !important;
	}
	.tablet-view {
		display:block;
	}
	.mobile-view {
		display:none !important;
	}

}

@media (max-width: 1280px) {
	.siding-utp-list .siding-utp-item {
		padding-right:30px;
	}
	.siding-utp-item-image {
		width:55px;
		height:38px;
	}
	.siding-utp-item-header {
		font-size:16.63px;
	}
	.siding-utp-item-text {
		padding-top:4px;
	}
}

@media (min-width : 768px) and (max-width : 1023px) {
	.siding-page-header {
		border-top:1px solid #d9d9d9;
		border-bottom:1px solid #d9d9d9;
	}
	.siding-header-left {
		padding-right:0px;
	}
	.siding-header-right {
		padding-left:23.5px;
	}
	.siding-page-header h1 {
             	line-height: 45px;
	}
	.siding-header-links .siding-header-links-item {
		margin-bottom:6px;
	}
	.siding-header-links .siding-header-links-item a {
		line-height:1.6em;		
	}
	.siding-utp-list .siding-utp-item {
		padding-right:0px;
	}
	.siding-utp-item-text {
		display:none;
	}
	.siding-utp-item-image {
    		float: none;
		display:block;
    		width: 100px;
    		height: 53px;
    		margin-left: 0px;
		margin:0px auto;
		background-size:auto auto;
	}
	.siding-utp-item-header {
    		display: block;
		text-align:center;
		margin-top:15px;
		margin-left:0px;
		line-height:1.3em;
	}
	.siding-utp-block {
    		padding-bottom: 12px;		
	}
	#layout5 {
		height:8px;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	}
	.post_block h2.siding-h2-title {
		font-size:34px;
		line-height:34px;
	}
	.siding-table {
		border-spacing:0px;
	}
	.siding-table-container .siding-table {
		margin-top:10px;
	}
	.siding-table > .siding-table-row:nth-child(1) > .siding-table-cell {
		font-size:16px;
	}	
	.siding-table > .siding-table-row > .siding-table-cell {
		font-size:16px;
	}
	.siding-table > .siding-table-row > .siding-table-cell:nth-child(1) {
		padding-left:20px;
	}

	.siding-table > .siding-table-row > .siding-table-cell:nth-child(1),
	.siding-table > .siding-table-row > .siding-table-cell:nth-child(2),
	.siding-table > .siding-table-row > .siding-table-cell:nth-child(3),
	.siding-table > .siding-table-row > .siding-table-cell:nth-child(4),
	.siding-table > .siding-table-row > .siding-table-cell:nth-child(5),
	.siding-table > .siding-table-row > .siding-table-cell:nth-child(6) {
		border-right:4px solid #fff;
	}

	#Alaska,
	#Canada,
	#BlockHouse,
	#Panel {
		display:none !important;
	}
	.siding-item-block {
		margin-bottom:20px;
	}
	.siding-item-block .siding-left {
		width:55%;
    		min-width: auto;
		padding-right:50px;
	}
	.siding-item-block .siding-right {
		width:80%;
	}
	.siding-item-block .siding-inner-left {
    		width: 100%;
    		float: none;
    		max-width: 100%;
	}
	.siding-item-block .siding-inner-right {
    		width: 100%;
    		float: none;
    		max-width: 100%;
		padding: 0px;
	}
	.siding-item-block .siding-right .siding-element {
    		margin: 0px 0px -46px -28px;
	}
	.siding-item-block .dots_list > li {
		margin-bottom:5px;
	}
	.siding-item-block .dots_list > li p {
		font-size:16px;
	}
	
	.siding-choose-block {
		margin-top:60px;
	}
	.siding-choose-block .siding-h2-title {
		position:absolute;
		left:0px;
		top:0px;
		margin-top:-60px;
		white-space:nowrap;
		overflow:hidden;
		text-overflow: ellipsis;
	}


	.siding-choose-left {
		float:none;
		display:table-cell;
		padding-right:40px;
		vertical-align:top;
	}
	.siding-choose-right {
		float:none;
		display:table-cell;
		vertical-align:top;
		background:url(/siding/images/what_choose_img.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size:cover;	
	}
	.siding-choose-left,
	.siding-choose-right {
		position:relative;
	}
	.siding-choose-left h2+p {
		font-size:16px;
		line-height:24px;
		margin-top:0px;
	}

	.siding-choose-left p+.btn_red {
        	margin-top:20px;
	}
	.siding-choose-video,
	.siding-choose-video img {
		display:none !important;
	}
	.siding-choose-mobile-video {
		display:inline-block;
	}
        .siding-useful-list .siding-useful-item {
        	width:50%;
		margin-bottom:40px;
	}
	.siding-useful {
		padding-top:40px;
		padding-bottom:0px;
	}
	.siding-useful-list .siding-useful-item .siding-useful-container {
		text-align:left;
	}
}

@media (max-width : 767px) {
	body {
		display:none !important;
	}
}